body {
    font-family: 'Poppins';font-size: 22px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 1px;
    padding-bottom: 5px;
    background-image: url('aot.jpg');
}
h1 {
    border: solid;
    position: fixed;
    margin-left: 0px;
    padding-left: 450px;
    padding-right: 466px;
    background-color: #098de5;
    margin-top: 0;
}
h3, h4 {
    transition: transform .5s;
}
h4 {
    background-color: #098de5;
    border: solid;
    border-width: 1px;
}
.logo {
    width: 150px;
    height: 150px;
    transition: transform .3s;
}
.logo4 {
    width: 130px;
    height: 130px;
    transition: transform .3s;
}
/*HOVER SECTION*/
.logo:hover {transform: scale(1.15);}
.logo4:hover {transform: scale(1.15);}
.credits {
    margin-top: 0%;
    margin-bottom: 0%;
}
h4:hover {transform: scale(1.01); color: #E9F8FD;}
h1:hover {color: #E3F1FC;}